*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

/* header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top:0;
    left: 0;
    height: 80px;
}

.header, a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.header, a:hover{
    color: #088178;
}

#navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin-right: 50px;
   flex-direction: row;
}

.logoName {
   font-size: 30px;
   color: #088178;
}

.logo{
    width: 120px;
     height: 25px;
}


/* Add this to your stylesheet */
.logoName:hover {
    color: #20938c;
}


.movedarkmode{
    padding-left: none;
}
    
#navbar li{
     list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: #1a1a1a;
transition: 0.3s ease;
padding-left: 10px;

}

#navbar li a:hover,
#navbar li a.active {
color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 30px;
}

#mobile{
   display: none;
   align-items: center;
}

#close{
   display: none;
   padding-left: none;

}
/* header end */

/* random images start */
.randomImages{
    display: flex;
    padding: 20px 30px;

}

.li-top{
    list-style: none;
    color: #4f4e4e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    max-width: 590px;
    max-height: 340px; /* Adjust the max-height as needed */
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.mySlides {
    display: none;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.landing-container {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
}

.image-slider {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}

.image-slider img {
    width: 100%;
    height: auto;
    display: block;
}

.text-content {
    width: 50%;
    /* padding: 20px; */
    padding-left: 40px;
}

.text-content h1 {
    /* color: #333; */
    color: #088178;
    font-size: 30px;
    margin-bottom: 10px;
}

.text-content h2 {
    /* color: #444; */
    color: #a4d1ce;
    padding-bottom: 10px;
    padding-top: 5px;
}

.text-content p {
    color: #666;
    line-height: 1.6;
    font-size:16px;
}

.text-content ul {
    list-style-type: none;
    padding: 0;
    color: rgb(148, 134, 134);
}

.text-content li {
    margin-bottom: 10px;
    font-size: 16px;

}

.p-text-content{
    padding-top: 10px;
}

/* featured products section  */

.featured-products{
    padding: 20px 30px;
}

.featured-products h1{
    text-align: center;
    color: #088178;
    /* letter-spacing: 1px; */
}

.search-container {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

#searchInput {
    padding: 10px;
    width: 100%;
    border-radius: 19px;
    border-width: 1px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 0, 0.5); /* Faded background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 80%;
    top: 100%;
    border-radius: 8px; /* Border radius for the dropdown */
    overflow: hidden; /* Hide overflow */
    margin-left: 120px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    /* color: #333; */
    color: #fff;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #088178;
}

.category {
    /* width: 100vw; */
    overflow: hidden;
}

.category h2 {
    padding-left: 10px !important;
    /* color: #9de0dc; */
    color: #8ececa;
    text-align: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    /* padding: 20px 80px; */
    box-sizing: border-box;
}

.carousel-frame {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-set{
    display: flex;
}

.product-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    transition: transform 0.5s ease-in-out;
}


/* .product-set{

} */

.product-container::-webkit-scrollbar {
    display: none;
}

.pro{
    padding-top: 5px;
}


.product-container img {
    /* width: 150px; */
    height: 150px;
    margin-right: 5px;
    object-fit: cover;
    padding-right: 0px;
    border-radius: 2.9px;
    
} 

.product-container img:hover{
    /* transform: scale(1.2); */
    
}

.pro button{
    color: #fff;
    background-color: #088178;
    border-radius: 13px;
    padding: 7px;
    border-style: none;
    width: 100%;
}

#product1{
    padding: 10px;
}

.pro button:hover{
    color: #000;
    background-color: #6ccac3;
    border-radius: 13px;
    padding: 7px;
    border-style: none;
    cursor: pointer;
}

.arrow {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #000; */
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.left-arrow {
    left: 10px; /* Adjust as needed */
}

.right-arrow {
    right: 10px; /* Adjust as needed */
}

/* Add more styling as needed */


/* new Arrivals section */
.new-arrivals{
    padding: 20px 30px;
}


/* shopping video */
.shoppingVideo{
    padding: 20px 30px;
}

.shopvideo{
    border-radius: 12px;
    border-width: none !important;
}

video {
    padding: 20px 30px;
    max-width: 100%; /* Ensure the video is responsive */
    width:100%; 
    height:360px;
}

/* back-to-school-deals section */

.back-to-school-deals{
    padding: 20px 30px;
}

.coming-soon-page{
    padding: 20px 30px;
}

/* footer section */

footer {
    background-color: #f4f4f4;
    background-color: #7fb0ac;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Styling for each section in the footer */
.footer-section {
    max-width: 200px;
    padding: 20px 30px;
}

/* Contact Information styling */
.contact-info p {
    margin-bottom: 8px;
}

.emailMessage {
    color:#088178 ;
}

.emailMessage:hover{
    color: #479a93;
}

/* Quick Links styling */
.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

/* Social Media styling */
.social-media a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

/* Legal styling */
.legal ul {
    list-style-type: none;
    padding: 0;
}

.legal a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

/* scroll up styling */

#scrollToTopContainer {
    position: fixed;
    bottom: 25px;
    right: 35px;
    background-color: #088178;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  #scrollToTopContainer:hover {
    background-color: #6ccac3;
  }
  
  #scrollToTopBtn {
    color: #ffffff;
    font-size: 20px;
  }
  
  #scrollToTopContainer.show {
    opacity: 1;
  }

  /* Add styling for cartItem */
.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  
  #cartPage .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust margin as needed */
}

#cartPage .cart-button {
    margin-left: 0px;
    margin-bottom: 10px;
    height: 32px;
}

  .cartItem .quantity-controls {
    display: flex;
    align-items: center;
    width: 80px; /* Adjust the width as needed */
  }
  
  .cartItem .quantity-controls .quantity-btn {
    width: 20px;
    color: rgb(48, 47, 47);
    background-color: rgb(95, 121, 119);
    font-size: 20px;
}
  
  .cartItem .quantity-controls .quantity-input {
    width: 40px;
}

   #cartItems{
     padding-left: 16px;
   }

  .delete-icon{
    padding-left: 20px;
    cursor: pointer;
  }

  .delete-icon:hover{
    padding-left: 20px;
    cursor: pointer;
    color: red;
  }

  .quantity{
    padding-left: 30px;
  }

  .price{
    padding-left: 20px;
  }

  #cartPage{
    padding: 20px 10px;
  }

  .cart-button{
    color: white;
    background-color: #088178;
  }


  #totalPrice{
    /* padding-left: 10px; */
  }

  .delete{
    /* padding-left: 10px; */
  }
  
  .cartItem img {
    width: 50px; /* Adjust as needed */
    margin-right: 10px;
    height: 50px;
    border-radius: 50px;
  }
  
  #content {
    margin: 20px;
  }
  
  #cartCount {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
  }

  /* categories page */

      /* Style for the dropdown container */
.sub-categories-container {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown content (hidden by default) */
.sub-categories {
    display: none;
    position: absolute;
    background-color: #8dbeba; /* White background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    z-index: 1;
    width: 570px;
    border-radius: 20px;
    margin-left: -40px;
}

/* Style for the dropdown links */
.sub-categories a {
    color: #333 !important;  /* Text color */
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    margin-left: 8px;
}

/* Change color on hover for the dropdown links */
.sub-categories a:hover {
    color: #5d7a7a !important;
    transform: scale(1.2);
    /* content: none !important; */
   /* Light gray background on hover */
}

/* Show the dropdown content when hovering over the dropdown link */
.sub-categories-container:hover .sub-categories {
    display: flex;
}

  .circular-image {
    width: 200px; /* Adjust the size of the circular image */
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
    border: 4px solid #fff; /* Add a border with a color of your choice */
    transition: transform 0.3s ease;
}

#down{
    margin-top: 0 !important;
    display: none;
}

.shiftDown{
    /* margin: 10px 0px; */
    padding-left: none !important;
    display: flex;
}
.circular-image:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
    transform: scale(0.8);
}

  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain the aspect ratio of the image */
    box-shadow: #1a1a1a;  
    cursor: pointer;
}

.categories{
    padding: 20px 00px;
}

.center{
text-align: center;}

.first-category, .second-category{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}

.first-category{
    /* animation: scroll 20s linear infinite; */
}

/* shoes categories page */

.shopShoe{
    display:flex;
    padding: 20px 30px;
}

.shoeText{
 padding-left: 20px;
 color: #333;
}

.h1ShoeText{
 padding-top: 25px;
 padding-bottom: 10px;
 color: #088178;
 padding-left: 20px;
}

#shoe-collection {
    display: flex;
    padding: 20px 30px;
  }

  #shoe-collection, button{
    width: 100%;
  }

  .shoe{
    padding: 10px;
  }

  .shoe button{
    color: #fff;
    background-color: #088178;
    border-radius: 13px;
    padding: 7px;
    border-style: none;
    width: 100%;
}

.shoe button:hover{
    color: #000;
    background-color: #6ccac3;
    border-radius: 13px;
    padding: 7px;
    border-style: none;
    cursor: pointer;
}

.shoeText{
    color: #333;
}
  .sho {
    padding: 10px; /* Add padding for spacing */
  }

  .sho img {
    max-width: 100%; /* Ensure images don't overflow their containers */
  }

  .description {
    text-align: center; /* Adjust as needed */
  }

  .jewelry-image{
    border-radius: 12px;
  }

  .radius{
    border-radius: 12px;
  }

  .new-arrivals{
    /* padding: 20px 10px; */
  }
   
  .center{
    color: #088178;
    position: sticky;
  }

  .cartegory-image{
    width: 600px;
    border-radius: 12px;
  }

    /* Animation */
    @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
  
      .scrolling {
        animation: scroll 10s linear infinite; /* Adjust the duration as needed */
      }

      .first-category:hover {
        animation-play-state: paused;
      }

      .duplicate-images {
        display: inline-block;
      }

      /* blog page */

      #blogPages{
        /* padding: 20px 30px; */
        display: flex;
        justify-content: center; 
        align-items: center;
        /* margin: 0px auto; */
      }

      .blogPagess{
        padding: 20px 10px;
      }

      .button-container {
        text-align: center;
    }

    .blogPages1{
        display:flex;
        background-color: #000;
        /* border-radius: 5px; */
    }
    
    #blogPages ,button {
        margin: 3px;
        font-size: 16px;
        /* background-color: #4CAF50; */
        color: white;
        border: none;
        border-radius: 5px; 
    }

    .btn {
        background-color: #088178;
        height: 45px;
        width: 128px;
    }

    .btn:hover {
 background-color: #b3d4d2;
 color: #1a1a1a;
    }

    #blogPages ,button:hover {
        cursor: pointer; 
    transform: scale(1.0);
    } 

    .blogImage{
        padding: 20px 10px;
        display: flex;
    }

    .blogImage p{
        color: #413e3e;
        padding-top: 20px;
    }
    
    .blogMainText{
        padding-left: 20px;
    }

    .round{
        border-radius: 10px;
    }

    .blog-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 20px;
        padding: 20px 30px;
    }

    .content p{
        color: #969494;
    }
    .blog-container img {
        max-width: 100%;
        margin-right: 20px;
        border-radius: 8px;
    }

    .content {
        flex: 1;
    }

    .read-more {
        cursor: pointer;
        color: #088178;
        text-decoration: underline;
    }

    .hidden-text {
        display: none;
    }

    .buttonsNav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circleNav{
        border-radius: 40px;
        width: 50px;
        height: 50px;
        background-color: #088178;
        color: white;
    }

    .circleNav:hover{
      color: #088178;
      background-color: black;
    }

    /* about us page */
.aboutUsPages{
    padding: 20px 30px;
 }

 :host {
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
}
 
 .containerAbout {
     margin: auto;
 }

 .containerAbout h1 {
    color: #4f4e4e;
    padding-bottom: 20px;
 }

 .containerAbout p{
    color: #4f4e4e;
    padding-bottom: 20px;
 }

 .containerAbout h2{
    color: #088178;
    
 }
 
 .team-member {
     margin-bottom: 20px;
     padding: 20px 90px;
 }
 
 .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-bottom: 10px;
    object-fit: cover; /* Added property for zooming and covering the container */
    object-position: center ; /* Center the image within the circular container */
}


.members{
    display: flex;
    justify-content: space-between;
} 

/* Contact us page */

/* form {
    max-width: 400px;
    margin: 20px auto;
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
}
textarea {
    height: 100px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
} */

.contact-page{
    padding: 0px 30px;
}

#page-header .contact-header{
    background-image: url("img/shop11.jpg");
    padding: 20px 30px;
}

#page-header h2 {
  /* padding: 20px 30px;     */
  color: #088178;
  font-size: bold;
}

#page-header p {
    /* padding: 20px 30px;     */
    color: #088178;
  font-size: bold;
  }

#contact-details{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 30px;
}

#contact-details .details{
   width: 40%;
}

#contact-details .details span,
#form-details{
   font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
   font-size: 26px;
   line-height: 35px;
   padding: 20px 0px;
}

#contact-details .details h3{
   font-size: 16px;
   padding-bottom: 15px;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0px;
}

#contact-details .details  li i{
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li  p{
  margin: 0px;
  font-size: 14px;
}

#contact-details .map{
   width: 55%;
   height: 400px;
}


#contact-details .map iframe{
   width: 100%;
   height: 100%;
}

#form-details {
   display: flex;
   justify-content: space-between;
   margin: 30px;
   padding: 80px;
   border: none;
}

#form-details form{
   width: 65%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
   width: 100%;
   padding: 12px 15px;
   outline: none;
   margin-bottom: 20px;
   border: 1px solid #e1e1e1;
}

#form-details form button{
   background-color: #088178;
   color: #fff;
   height: 30px;
}


 #form-details .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 25px;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.icon a {
    margin-right: 10px; /* Adjust the value as needed */
}


.icon a:hover {
   color: #088178;
}

footer a:hover {
    color: #088178;
 }

#form-details .people div img {
    width: 65px;
    height: 65px;
    /* object-fit: cover; */
    margin-right: 15px;
    border-radius: 70%;
    object-fit: cover; /* Added property for zooming and covering the container */
    object-position: center center; /* Center the image within the circular container */
}

 #form-details .people div p{
   margin: 0px;
   font-size: 16px;
   line-height: 25px;
 }

 #form-details .people div p span{
    display: flex;
    font-size: 16px;
    font-weight: 600px;
    color: #000;
 }

 #page-header {
    background-image: url(img/shop11.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 30px;
}

/* darkmode */

.flex-slider{
    display: flex;
    padding-top: 5px;
    /* align-items: center;
    padding-left: 0px; */
}
        .toggle {
            cursor: pointer;
            width: 50px;
            height: 25px;
            border-radius: 15px;
            background-color: hsl(228, 12%, 44%);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: justify-content 0.4s;
            position: relative;
            overflow: hidden;
            margin-left: 10px;
          }
          
          .round {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            top: 2.5px;
            left: 2.5px;
            transition: left 0.4s;
          }

        .dark-mode{
            margin-left: 15px;
        }

        /* cart */

        #cartCountDesktop{
            /* background-color: #088178; */
            color: red;
            padding-left: 5px;
            /* width: 300px; */
          }

          .orderH1{
            padding-left: 15px;
          }

          .totalPrice{
            padding-left: 15px;
          }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  /* Styles for iPad Mini */
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -1200px;
    height: 126.90vh;
    width: 100%;
    background-color: #83adab ;
    box-shadow: 5px 5px 10px #888888;
    padding: 80px 0 0 10px;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 0px;
    padding-left: 2px;
 }
 .hiddenLink{
    display: none;
   }

.header, a{
    font-size: 25px;
} 

 #navbar.active {
  right: -50px;
}

 #navbar li{
    margin-bottom: 30px;      
 }

 #navbar li a{
    font-size: 30px;
 }

 #mobile{
    display: flex;
    align-items: center;
    margin-right: 10px;
 }
 

 #mobile i {
   color: #1a1a1a;
   font-size: 40px;
   padding-left: 20px;
 }

 /* #close{
    display: initial;
    position: absolute;
    top:30px;
    color: #222;
    font-size: 24px;
    padding-left: 450px;
  } */

  #close {
    display: block;
    position: absolute;
    top: 30px;
    color: #222;
    font-size: 50px;
    /* padding-left: 230px; */
    padding-left: 250px;
}

  .movedarkmode{
    padding-left: 30px;
}

.randomImages {
    display: block;
    padding: 20px 10px;
}

/* .slideshow-container img {
width: 100%;
height: auto;
object-fit: cover;
max-width: 100%;
border-radius: 15px;
} */

.slideshow-container {
    width: 100%;
    max-width: 100%;
    height: 400px; /* Set a fixed height */
    overflow: hidden;
    position: relative;
}

.slideshow-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    border-radius: 15px;
}

.text-content {
width: 100%;
padding: 0px;
padding-left: 0px;
/* text-align: center; */
}

.text-content li{
    font-size: 25px;
}

.text-content h2 {
    font-size: 40px;
}

.featured-products {
padding: 20px 10px;
}

.new-arrivals {
    padding: 20px 10px;
}


.shoppingVideo {
    padding: 20px 10px;
}

.back-to-school-deals {
    padding: 20px 10px;
}

.coming-soon-page {
    padding: 20px 10px;
}
footer{
    /* padding: 100px 10px; */
}

footer {
    background-color: #f4f4f4;
    background-color: #7fb0ac;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.movedarkmode {
    padding-left: 50px;
    padding-top: 0px;
}


.footer-section {
    /* max-width: 200px; */
    padding: 20px 30px;
    width: 100%;
}

#scrollToTopContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #088178;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 80%;
    top: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-left: none;
}

.search-container:focus-within .dropdown-content {
    display: block;
}

.search-container:focus-within #searchInput {
    outline: none;
    /* Remove the focus outline on the search input */
}

.text-content p{
    font-size: 26px !important;
}

    /* #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -50px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
     }

     #navbar.active{
        right: 0px;
     }
  
     #navbar li{
        margin-bottom: 40px;      
     }
  
     #mobile{
        display: flex;
        align-items: center;
     }
     
  
     #mobile i {
       color: #1a1a1a;
       font-size: 24px;
       padding-left: 20px;
     }
  
     #close{
        display: initial;
        position: absolute;
        top:30px;
        color: #222;
        font-size: 24px;
        padding-left: 30px;
     }
  
     #lg-bag{
        display: none;
     }

     .movedarkmode{
        padding-left: 30px;
    }
     */

     /*  */

     /* category */
     .first-category, .second-category{
        display: flex;
        justify-content: space-between;
        padding: 0px 0px;
    }
    .cartegory-image {
        width: 100%;
        border-radius: 12px;
    }

    /* categories */
.sub-categories-container {
    position: none;
    display: block;
    /* padding-top: 2px; */
}

/* Style for the dropdown content (hidden by default) */
.sub-categories {
    display: flex;
    position: none;
    background-color: none; /* White background */
    box-shadow: none; /* Box shadow for a subtle effect */
    z-index: none; 
    width: 0px;
    border-radius: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top:240px;
    font-size: 30px;
}

.sub-categories a {
    color: #333 !important;  /* Text color */
    padding: 46px;
    display: block;
    text-decoration: none;
    margin-left: 0px;
    padding-top: 20px;
}

/* Change color on hover for the dropdown links */
.sub-categories a:hover {
    color: #5d7a7a !important;
    transform: scale(1.2);
    /* content: none !important; */
   /* Light gray background on hover */
}

/* Show the dropdown content when hovering over the dropdown link */
.sub-categories-container:hover .sub-categories {
    display: none !important;
}

/* another sub-categories */

.sub-categoriess {
    display: flex;
    position: none;
    background-color: none; /* White background */
    box-shadow: none; /* Box shadow for a subtle effect */
    z-index: none; 
    width: 0px;
    border-radius: 0px;
    margin-left: 0px;
    padding-bottom: 10px;

}

.sub-categoriess a {
    color: #333 !important;  /* Text color */
    padding: 46px;
    display: block;
    text-decoration: none;
    margin-left: 0px;
    padding-top: 20px;
}

/* Change color on hover for the dropdown links */
.sub-categoriess a:hover {
    color: #5d7a7a !important;
    transform: scale(1.2);
    /* content: none !important; */
   /* Light gray background on hover */
}

/* Show the dropdown content when hovering over the dropdown link */
.sub-categoriess-container:hover .sub-categories {
    display: none !important;
}


.shiftDown{
    /* margin: 10px 0px; */
    padding-left: 30px;
}

#down{
    margin-top: 400px !important ;
    display: flex;
    justify-content: space-around;
}

.movedarkmode {
    padding-left: 30px;
    padding-top: 0px;
    font-size: 30px;
}

.flex-slider {
    display: flex;
    padding-top: 0px;
}



/* .column {
    flex: 1 !important;
    margin: 0 10px !important;
}

.column li {
    margin-bottom: 10px;
} */

/* blog page */
.blogPagess {
    padding: 20px 10px;
}

.team-member {
    margin-bottom: 20px;
    padding: 0px;
}

.contact-page {
    padding: 0px 30px;
}

#form-details {
    border: none;
}

/* cart */
.cartLink{
    padding-left: 30px;
   }

   #cartCountMobile{
    /* background-color: #088178; */
    color: red;
    /* width: 300px; */
  }
  
  }

  @media (max-width: 477px){
    header{
      max-width: 375px; /* Set a maximum width for screens wider than 375px */
      /* padding: 0px;    */
      /* justify-content: space-between; */
   }
    
     /* header {
        padding: 10px 20px;
    } */
  
       #navbar {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 0;
          right: -500px;
          height: 127.90vh;
          /* width: 270px; */
          width: 100%;
          background-color: #83adab ;
          box-shadow: 5px 5px 10px #888888;
          padding: 80px 0 0 10px;
          transition: 0.5s;
          border-radius: 5px;
          margin-top: 0px;
          padding-left: 0px;
       }


       .hiddenLink{
        display: none;
       }
       
       .cartLink{
        padding-left: 30px;
       }

    /* #down{
        padding: 90px 0px !important;
    } */

       #navbar.active {
        right: -50px;
    }
    
       #navbar li{
          margin-bottom: 30px;      
       }
    
       #mobile{
          display: flex;
          align-items: center;
          margin-right: 10px;
       }
       
       #mobile i {
         color: #1a1a1a;
         font-size: 24px;
         padding-left: 20px;
       }
    

        
        #close {
            display: block;
            position: absolute;
            top: 30px;
            color: #222;
            font-size: 24px;
            /* padding-left: 230px; */
            padding-left: 0px;
        }
        /* padding-left:0px */
        /* display: initial; */
     
        .randomImages {
            display: block;
            padding: 20px 10px;
        }

        .slideshow-container img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 15px;
}

.text-content {
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    text-align: center;
}

.featured-products {
    padding: 20px 10px;
}


.new-arrivals {
    padding: 20px 10px;
}


.shoppingVideo {
    padding: 20px 10px;
}

.back-to-school-deals {
    padding: 20px 10px;
}

.coming-soon-page {
    padding: 20px 10px;
}
footer{
    padding: 2px 15px;
    justify-content: space-between;
    display: flex;
    /* align-items: center; */
  flex-direction: column;
  min-height: 100vh; /* This ensures the body takes at least the full height of the viewport */
  /* margin: 0; */
}

.movedarkmode {
    padding-left: 50px;
    padding-top: 0px;
}
.toggle {
    width: 50px;
  }


.footer-section {
    /* max-width: 200px; */
    padding: 20px 0px;
    /* padding: 20px 30px; */
    /* width: 100%; */
}

#scrollToTopContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #088178;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 80%;
    top: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 36px;
}

.search-container:focus-within .dropdown-content {
    display: block;
}

.search-container:focus-within #searchInput {
    outline: none;
    /* Remove the focus outline on the search input */
}

/* categories page */

.cartegory-image{
    width: 100%;
    border-radius: 12px;
  }

  .none{
    display: none;
  }

  .show{
    margin:0px auto;
  }

  .categories {
    overflow-x: auto;
    /* white-space: nowrap; */
  }

  .section {
    margin-bottom: 20px; /* Add space between sections */
  }

  .circular-image {
    width: 120px; /* Adjust the size of the circular image */
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px; /* Add spacing between circular images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow for visual appeal */
  }

  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .first-category, .second-category {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

  .center {
    text-align: center;
  }

  .shopShoe {
    display: block;
    padding: 20px 8px;
    justify-content: center;
      align-items: center;
      text-align: center;
}

.shopShoe img{
    /* place-items: center; */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
      height: auto;
      margin-left: 0px;
}

.shoeText {
    color: #333;
    padding: 5px 10px;
}

/* categories */
.sub-categories-container {
    position: absolute;
    display: block;
    /* padding-top: 2px; */
}



/* Style for the dropdown content (hidden by default) */
.sub-categories {
    display: flex;
    position: none;
    background-color: none; /* White background */
    box-shadow: none; /* Box shadow for a subtle effect */
    z-index: none; 
    width: 0px;
    border-radius: 0px;
    margin-left: 20px;
    /* margin-left: 0px; */
    padding-bottom: 10px;
    margin-top: 170px;
}

.sub-categories a {
    color: #333 !important;  /* Text color */
    /* padding: 4px; */
    display: block;
    text-decoration: none;
    margin-left: -6px;
    padding-top: 15px;
}

/* Change color on hover for the dropdown links */
.sub-categories a:hover {
    color: #5d7a7a !important;
    transform: scale(1.2);
    /* content: none !important; */
   /* Light gray background on hover */
}

/* Show the dropdown content when hovering over the dropdown link */
.sub-categories-container:hover .sub-categories {
    display: none !important;
}

.shiftDown{
    /* margin: 10px 0px; */
    padding-left: 30px;
}

#down{
    margin-top: 230px !important ;
    display: flex;
    justify-content: space-around;
}

/* .column {
    flex: 1 !important;
    margin: 0 10px !important;
}

.column li {
    margin-bottom: 10px;
} */

/* #flex{
    display: block !important;
}
#flex2{
    display: block !important;
} */

/* blog page */

.blogPagess {
    padding: 20px 10px;
}

.blogImage{
    padding: 20px 10px;
    display: block;
}

.round{
    width: 100%;
}

.blog-container{
    display: block;
}

.blog-container img {
    display: flex;
justify-content: center;
 align-items: center;
 margin:auto ;
}

.blogPagess {
    padding: 20px 10px;
}

/* about us */
.team-member{
    padding: 0px;
    /* display: flex; */
}

.status{
    display: block;
    /* padding-top: 40px; */
    padding-left: 12px;
}

.members{
    display: flex;
    flex-direction: column; /* Stack team members vertically */
    align-items: center; /* Center team members horizontally */
    margin-top: 20px;
}

 /*Contact page */
 #contact-details {
    flex-direction: column;
}
#contact-details .details{
 width: 100%;
 margin-bottom: 30px;
}

#contact-details .map{
 width: 100%;
}

#form-details {
 margin: 10px;
 padding: 30px 10px;
 flex-wrap: wrap;
 border: none;
}

#form-details form{
 width: 100%;
 margin-bottom: 30px;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
    height: 30px;
}

#page-header {
    background-image: url(img/shop11.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 30px;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
    padding-top: 25px;
}

.contact-page {
    padding: 0px 30px;
}


/* darkmode */

.flex-slider{
    display: flex;
    padding-top: 0px;
    /* align-items: center;
    padding-left: 0px; */
}

.round {
    width: 40%;
}


/* cart */
.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* padding: 0px 10px; */
  }

  #cartCountMobile{
    /* background-color: #088178; */
    color: red;
    padding-left: 5px;
    /* width: 300px; */
  }

  .delete-icon{
    padding-left: 5px;
    cursor: pointer;
  }
  .delete-icon:hover{
    color: red;
  }

  .quantity{
    /* padding-left: 5px; */
  }

  .price{
    padding-left: 5px;
  }

    }

    @media only screen and (max-width: 414px) and (max-height: 846px) {
        /* Styles for Samsung Galaxy S8 Plus or devices with similar screen sizes */
        /* Add your specific styles here */
    
        .sub-categories a {
            color: #333 !important;
            /* padding: 4px; */
            margin-left: -15px;
        }
      }

      /* @media only screen and (min-width: 280px) and (max-width: 1536px) and (min-height: 320px) and (max-height: 2152px) { */
        /* .sub-categories a {
            color: #333 !important;
            padding: 1px;
            display: flex;
            text-decoration: none;
            /* margin-left: -12px; */
            padding-top: 15px;
            align-items: center;
            justify-content: space-around;
        } */

        /* a.culinaryd{
            padding-left: 15px;
        }

        a.drinkwa{
            padding-left: 15px;
        }

        a.newArr{
            padding-left: 0px;
        }
         
             .firstSide{
                margin-left: -13px;
             }

             .secondSide{
                margin-left: -33px;
             }

             .flex-slider {
          display: block;
          margin-left: -29px;

            } */
      }
      
      @media screen and (min-width: 1350px) and (min-height: 1800px) {
        /* Your styles for Surface Duo go here */
            
    }

    @media only screen and (max-width: 540px) {
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -700px;
            height: 127.90vh;
            /* width: 270px; */
            width: 100%;
            background-color: #83adab ;
            box-shadow: 5px 5px 10px #888888;
            padding: 80px 0 0 10px;
            transition: 0.5s;
            border-radius: 5px;
            margin-top: 0px;
            padding-left: 0px;
         }
  
  
         .hiddenLink{
          display: none;
         }
         
         .cartLink{
          padding-left: 30px;
         }
  
      /* #down{
          padding: 90px 0px !important;
      } */
  
         #navbar.active {
          right: -50px;
      }
      
         #navbar li{
            margin-bottom: 30px;      
         }
      
         #mobile{
            display: flex;
            align-items: center;
            margin-right: 10px;
         }
         
         #mobile i {
           color: #1a1a1a;
           font-size: 24px;
           padding-left: 20px;
         }
      
          #close {
              display: block;
              position: absolute;
              top: 30px;
              color: #222;
              font-size: 24px;
              /* padding-left: 230px; */
              padding-left: 0px;
          }
          

        .randomImages {
            display: block;
            padding: 20px 10px;
        }

        .slideshow-container img {
            width: 100%;
            max-height: 280px;
            /* max-height: 200px; */
            object-fit: cover;
            border-radius: 15px;
        }

.text-content {
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    text-align: center;
}

.sub-categories {
    display: flex;
    position: absolute;
    background-color: #8dbeba;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 0px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 199px;
}
      
.jewelry-image {
    border-radius: 12px;
    height: fit-content;
    margin-left: 123px;
}

.shopShoe {
    display: block;
    padding: 20px 30px;
}

#down li a{
    padding-top: 222px;
}

#down {
    margin-top: 230px !important;
    display: flex;
    justify-content: space-around;
}

.shiftDown {
    /* margin: 10px 0px; */
    padding-left: 30px;
}

#cartCountMobile {
    /* background-color: #088178; */
    color: red;
    padding-left: 5px;
    /* width: 300px; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 80%;
    top: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 50px;
}
        /* Add more styles for smaller screens as needed */
      }

      /* for a half of a laptop screen */
@media only screen and (max-width: 683px) {
  /* Styles for approximately half of a laptop screen */
  .circular-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.first-category, .second-category {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

#cartCountMobile {
    /* background-color: #088178; */
    color: red;
    padding-left: 5px;
    /* width: 300px; */
}

 #navbar {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 0;
          right: -1000px;
          height: 127.90vh;
          /* width: 270px; */
          width: 100%;
          background-color: #83adab ;
          box-shadow: 5px 5px 10px #888888;
          padding: 80px 0 0 10px;
          transition: 0.5s;
          border-radius: 5px;
          margin-top: 0px;
          padding-left: 0px;
       }


       .hiddenLink{
        display: none;
       }
       
       .cartLink{
        padding-left: 30px;
       }

    /* #down{
        padding: 90px 0px !important;
    } */

       #navbar.active {
        right: -50px;
    }
    
       #navbar li{
          margin-bottom: 30px;      
       }
    
       #mobile{
          display: flex;
          align-items: center;
          margin-right: 10px;
       }
       
       #mobile:hover{
        cursor: pointer;
       }

       #mobile i {
         color: #1a1a1a;
         font-size: 24px;
         padding-left: 20px;
       }
        
        #close {
            display: block;
            position: absolute;
            top: 30px;
            color: #222;
            font-size: 24px;
            /* padding-left: 230px; */
            padding-left: 0px;
        }
        /* padding-left:0px */
        /* display: initial; */
     
        .randomImages {
            display: block;
            padding: 20px 10px;
        }

        .slideshow-container img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 15px;
}

.text-content {
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    text-align: center;
}

.sub-categories-container {
    position: absolute;
    display: block;
    /* padding-top: 2px; */
}



/* Style for the dropdown content (hidden by default) */
.sub-categories {
    display: flex;
    position: none;
    background-color: none; /* White background */
    box-shadow: none; /* Box shadow for a subtle effect */
    z-index: none; 
    width: 0px;
    border-radius: 0px;
    margin-left: 20px;
    /* margin-left: 0px; */
    padding-bottom: 10px;
    margin-top: 170px;
}

.sub-categories a {
    color: #333 !important;  /* Text color */
    /* padding: 4px; */
    display: block;
    text-decoration: none;
    margin-left: -6px;
    padding-top: 15px;
}

/* Change color on hover for the dropdown links */
.sub-categories a:hover {
    color: #5d7a7a !important;
    transform: scale(1.2);
    /* content: none !important; */
   /* Light gray background on hover */
}

/* Show the dropdown content when hovering over the dropdown link */
.sub-categories-container:hover .sub-categories {
    display: none !important;
}

.shiftDown{
    /* margin: 10px 0px; */
    padding-left: 30px;
}

#down{
    margin-top: 180px !important ;
    display: flex;
    justify-content: space-around;
}


  /* Add more styles as needed for your specific elements */
}

      

    @media only screen and (max-width: 1350px) {
        /* Styles specific to screens with a width of 1350 pixels or less */
       
      
        /* Add more styles as needed for your specific elements */
      }
    
    .arrangeSection{
        padding: 20px 20px;
        font-size: 16px;
    }

    .arrangeSection section{
        padding-top: 20px;
    }

    /* galaxy fold */
    /* Media query for Samsung Galaxy Fold screen size */
@media only screen and (max-width: 840px) {
    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5px;
        background: #E3E6F3;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
        height: 70px;
    }

    .logo{
        width: 160px;
        height: 25px;
    }

    #cartItems {
        padding-left: 0px;
    }

    #cartPage {
        padding: 20px 0px;
    }

}

/* nest hub */
@media only screen and (max-width: 1024px) and (max-height: 600px) {
    /* Add your styles for Nest Hub screen size here */

    /* Add any other styles you want to modify for Nest Hub here */
}
